header {
    width: 60%;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.main {
    width: 50%;
    margin: 0 auto;
    background: rgb(204, 151, 151);
}

#top,
#result,
.questionText {
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
}

#top {
    height: 448px;
    border: 1px black solid;
    margin: 0 5px 5px 5px;
    padding-top: 100px;
}

.questionText,
.choices {
    border: 1px solid black;
    height: 200px;
    margin-right: 5px;
}

.questionText {
    padding: 10px 20px 0 20px;
}

.choices {
    color: white;
    font-size: 15px;
    padding: 10px 0 5px 20px;
    margin-bottom: 5px;
}

#choiceA:hover,
#choiceB:hover,
#choiceC:hover,
#choiceD:hover {
    background: #888;
}